## EXPIRES CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "now plus 1 month"
	ExpiresByType image/png "now plus 1 month"
	ExpiresByType text/css "now plus 12 hours"
	ExpiresByType image/x-icon "now plus 1 month"
	ExpiresDefault "now plus 2 days"
</IfModule>
## EXPIRES CACHING ##